<section class="todo" ng-controller="TodoController as todo">
  <div class="mdl-color--indigo ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">Todo</h3>
      <h4 class="mdl-color-text--indigo-100 m-b-20 no-m-t w100">Manage your todo's from the dashboard or here with additional filters.</h4>
    </div>
  </div>

  <div class="todos_container mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
      <div class="p-20 ml-card-holder">
        <div class="mdl-card mdl-shadow--1dp">
          <div class="mdl-card__title mdl-color--light-blue-A200" style="display: block;">
            <h2 class="mdl-card__title-text mdl-color-text--white">Today</h2>
            <div class="small mdl-color-text--grey-700">{{ openedTodayTodosCount }} todo's open</div>
          </div>
          <div class="mdl-color--cyan-300 p-20 p-t-10 p-b-10">
            <div class="mdl-grid mdl-grid--no-spacing">
              <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h4 class="mdl-color-text--white">Top is always the active task</h4>
                <h5 class="mdl-color-text--grey-700">Started 9:26 with 1:12 minutes</h5>
              </div>
              <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone p-t-15 position-relative">
                <timer autostart="false" class="m-r-10 mdl-color-text--black mdl-typography--title">{{hhours}}:{{mminutes}}</timer>
                
                <button ng-show="!timerRunning" ng-click="startTimer()" class="timer-button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color-red">
                  <i class="material-icons">play_arrow</i>
                </button>
                <button ng-show="timerRunning" ng-click="stopTimer()" class="timer-button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored mdl-color--light-blue">
                  <i class="material-icons">av_timer</i>
                </button>
              </div>
            </div>
            
          </div>
          <div class="p-r-30 p-b-30">
            <ul class="list-unstyled m-t-20" as-sortable="sprintSortOptions" data-ng-model="todayTodos" ng-class="{'p-t-20':!todayTodos.length}">
              <li ng-repeat="todo in todayTodos" class="p-l-25" ng-class="{'active-todo': $index==0}" as-sortable-item>
                <div as-sortable-item-handle>
                  <!-- <span ng-click="todoService.toggleDone(todo)" > -->
                  <span>
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="todoService.toggleDone(todo)">
                      <i class="material-icons" ng-class="{ 'mdl-color-text--green': todo.Done }">done</i>
                    </button>
                    <span ng-class="{ strike: todo.Done }" ng-dblclick="todoService.showTimer($index, todo)">{{ todo.Description }}</span>
                  </span>
                  <button class="mdl-button mdl-js-button mdl-button--icon f-right" ng-click="todoService.editTodo(todo, 0)">
                    <i class="material-icons f15">edit</i>
                  </button>
                </div>
              </li>
            </ul>

            <div ng-show="!todayTodos.length">
              <p>Well done! No more todo's.</p>
            </div>

            <form class="p-l-30" ng-submit="todoService.saveTodo(0)">
              <div class="mdl-textfield mdl-js-textfield">
                <input ml-todo-focus="focusTodayTodoInput" class="mdl-textfield__input" type="text" id="todo-title" ng-model="todoService.todoDescription.todayDescription" />
                <label class="mdl-textfield__label" for="todo-title">Title</label>
              </div>

              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                {{ todoService.todoDescription.editing ? 'Save' : 'Add' }}
              </button>
            </form>
            <!-- <button ng-click="todayTodoService.clearCompleted()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              Clear completed todo's
            </button> -->

          </div>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
      <div class="p-20 ml-card-holder">
        <div class="mdl-card mdl-shadow--1dp">
          <div class="mdl-card__title mdl-color--light-blue-A200" style="display: block;">
            <h2 class="mdl-card__title-text mdl-color-text--white">Next day</h2>
            <div class="small mdl-color-text--grey-700">{{ openedNextTodosCount }} todo's open</div>
          </div>
          <div class="p-30">

            <ul class="list-unstyled m-t-20" as-sortable="sprintSortOptions" data-ng-model="nextdayTodos" ng-class="{'p-t-20':!nextdayTodos.length}">
              <li ng-repeat="todo in nextdayTodos" class="animate-repeat" as-sortable-item>
                <div as-sortable-item-handle>
                  <span>
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="todoService.toggleDone(todo)">
                      <i class="material-icons" ng-class="{ 'mdl-color-text--green': todo.Done }">done</i>
                    </button>
                    <span ng-class="{ strike: todo.Done }" ng-dblclick="todoService.showTimer($index, todo)">{{ todo.Description }}</span>
                  </span>
                  <button class="mdl-button mdl-js-button mdl-button--icon f-right" ng-click="todoService.editTodo(todo,1)">
                    <i class="material-icons f15">edit</i>
                  </button>
                </div>
              </li>
            </ul>

            <div ng-show="!nextdayTodos.length">
              <p>Well done! No more todo's.</p>
            </div>
            <form ng-submit="todoService.saveTodo(1)">
              <div class="mdl-textfield mdl-js-textfield">
                <input ml-todo-focus="focusNextTodoInput" class="mdl-textfield__input" type="text" id="todo-title" ng-model="todoService.todoDescription.nextDescription" />
                <label class="mdl-textfield__label" for="todo-title">Title</label>
              </div>

              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                {{ todoService.todoDescription.editing ? 'Save' : 'Add' }}
              </button>
            </form>
            <!-- <button ng-click="todoService.clearCompleted()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              Clear completed todo's
            </button> -->

          </div>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
      <div class="p-20 ml-card-holder">
        <div class="mdl-card mdl-shadow--1dp">
          <div class="mdl-card__title mdl-color--light-blue-A200" style="display: block;">
            <h2 class="mdl-card__title-text mdl-color-text--white">Later</h2>
            <div class="small mdl-color-text--grey-700">{{ openedLaterTodosCount }} todo's open</div>
          </div>
          <div class="p-30">
            <ul class="list-unstyled m-t-20" as-sortable="sprintSortOptions" data-ng-model="laterTodos" ng-class="{'p-t-20':!laterTodos.length}">
              <li ng-repeat="todo in laterTodos" class="animate-repeat" as-sortable-item>
                <div as-sortable-item-handle>
                  <span>
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="todoService.toggleDone(todo)">
                      <i class="material-icons" ng-class="{ 'mdl-color-text--green': todo.Done }">done</i>
                    </button>
                    <span ng-class="{ strike: todo.Done }" ng-dblclick="todoService.showTimer($index, todo)">{{ todo.Description }}</span>
                  </span>
                  <button class="mdl-button mdl-js-button mdl-button--icon f-right" ng-click="todoService.editTodo(todo,2)">
                    <i class="material-icons f15">edit</i>
                  </button>
                </div>
              </li>
            </ul>

            <div ng-show="!laterTodos.length">
              <p>Well done! No more todo's.</p>
            </div>

            <form ng-submit="todoService.saveTodo(2)">
              <div class="mdl-textfield mdl-js-textfield">
                <input ml-todo-focus="focusLaterTodoInput" class="mdl-textfield__input" type="text" id="todo-title" ng-model="todoService.todoDescription.laterDescription" />
                <label class="mdl-textfield__label" for="todo-title">Title</label>
              </div>

              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                {{ todoService.todoDescription.editing ? 'Save' : 'Add' }}
              </button>
            </form>

            <!-- <button ng-click="todoService.clearCompleted()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              Clear completed todo's
            </button> -->

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
